<div class="container">
  <div class="row">
    <div class="col-sm-6"><button type="button" class="btn btn-outline-success"><%= link_to "ブログを投稿する", new_blog_path %></button></div>
    <br>
    <div class="col-sm-6"><button type="button" class="btn btn-outline-success"><%= link_to "写真を投稿する", new_picture_path %></button></div>
  </div>
</div>
